extends layout

block content
    form(action= post method="post")
        table
            tr
                th
                    label(for="charname") Character Name:
                th
                    select(name="charname" id="charname")
                        each character, i in characters
                            option(value=character.title)= character.name
            tr
                th
                th
                    input(type="submit")
    p #{error}