doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Dye System
        link(rel="stylesheet", href="/css/stylesheet.css")
    body
        div
            block content
            br
            hr
            footer
            p Made by Yentis